<p>
  <strong>Name:</strong>
  <%= @receiver.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @receiver.phone %>
</p>

<%= link_to 'Edit', edit_receiver_path(@receiver) %> |
<%= link_to 'Back', receivers_path %>
